.MoviesGrid {
  @include flexbox(row);
  flex-wrap: wrap;
  border-top: 1px solid $white;
  justify-content: center;
}

.MoviesGrid-text {
  color: $white;
  font-size: $font-size-xl;
  font-weight: 700;
  margin: 15px;
}
