@import 'theme';

.MovieDetail {
  @include flexbox(row);
  width: 450px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 2px $shadow-color;
  background-color: $white;
  margin: $spacing-m;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.05);
  }
  @include phone() {
    width: 95vw;
    @include flexbox(column);
  }
}

.MovieDetail-blockLeft {
  flex: 1;
  @include flexbox(column);
  justify-content: center;
}

.MovieDetail-blockRight {
  flex: 1;
  @include flexbox(column);
  padding: $spacing-m;
  border-left: 1px solid $shadow-color;
  justify-content: space-around;
}

.MovieDetail-img--container {
  width: 209px;
  height: 310px;
  background-size: cover;
  background-position: 50% 50%;
  @include phone() {
    width: 100%;
  }
}

.MovieDetail-header {
  @include flexbox(column);
}

.MovieDetail-title {
  font-size: $font-size-xl;
  margin: 0;
  text-transform: uppercase;
}
.MovieDetail-description {
  font-size: $font-size-s;
  word-wrap: break-word;
  color: $text-color;
}

.MovieDetail-subBlock {
  @include flexbox(row);
  justify-content: space-between;
}

.MovieDetail-bottom-subBlock {
  @include flexbox(row);
  justify-content: space-evenly;
}

.MovieDetail-punctuation {
  @include flexbox(column);
  align-items: center;
}

.MovieDetail-item.punctuation {
  font-size: $font-size-s;
  color: $text-color;
  margin-top: auto;
  text-align: center;
}

.MovieDetail-punctuation.icon {
  @include square($spacing-xl);
  margin-bottom: 5px;
}

.MovieDetail-item {
  font-size: $font-size-s;
  color: $text-color;
}
