.NoResults {
  @include flexbox(column);
  align-items: center;
  width: 100%;
}

.NoResults.img {
  width: 50vw;
  margin: $spacing-m;
  @include phone() {
    width: 75vw;
  }
}

.NoResults.text {
  font-size: $font-size-xxl;
  color: $white;
  font-weight: 700;
}
