.Search {
  @include flexbox(row);
  align-items: center;
  position: relative;
}

.Search-input {
  border-radius: 2px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
  border: 0;
  margin: 25px 35px 25px 15px;
  height: 40px;
  width: 100%;
  padding: 0 $spacing-m;
  text-align: center;
  font-size: $font-size-l;
}

input::placeholder {
  color: $text-color;
  font-size: $font-size-m;
}

.material-icons.md-light {
  color: $white;
  margin: 0 10px;
  cursor: pointer;
}

.Search-spinner.image {
  @include square(30px);
  bottom: 30px;
  position: absolute;
  right: 110px;
}
