/**
 * Theme definition
 *
 * This defines the theme in fundamental terms
*/

/**
  * Colors
  */

$main-color: #09f;
$white: #fff;
$dark-grey: #292f33;
$light-grey: #66757f;
$shadow-color: rgba(0, 0, 0, 0.15);

/**
   * Spacing
   */

$spacing-s: 10px;
$spacing-m: 15px;
$spacing-l: 20px;
$spacing-xl: 30px;

/**
   * Font-size
   */

$font-size-s: 10px;
$font-size-m: 12px;
$font-size-l: 14px;
$font-size-xl: 18px;
$font-size-xxl: 36px;

/**
   * @mixin
   */

@mixin flexbox($direction) {
  display: flex;
  flex-direction: $direction;
}
@mixin square($size) {
   width: $size;
   height: $size;
}

$font-family: 'Spartan';
